h1 {
  text-align: center;
}

h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profilepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profileinfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}